# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since they are usually
#   set by a tool like pyenv, and will be different from machine to machine:
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to checkin Pipfile.lock into version control.
#   However, in some cases, you may wish to ignore it. See here for more details:
#   https://pipenv.pypa.io/en/latest/install/#lock-file-recommendations
Pipfile.lock

# Poetry
#   Similar to Pipfile.lock, it is generally recommended to checkin poetry.lock into version control.
#   This is especially true for binary packages to ensure reproducible builds.
#   poetry.lock

# pdm
#   pdm.lock
.pdm.toml

# PEP 582; used by e.g. PDM, Hatch
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo